div.widget-wrap
  h3.widget-title Important links
  div.widget
    ul
      li
        a(href='http://redemptionreloaded.proboards.com/' target='_blank') Forums
      li
        a(href='https://www.facebook.com/groups/1669384423304281/' target='_blank') Facebook group
