changes-list-margin = .75%

#page-spell-changes
#page-feat-changes
  .article-inner
    clearfix()
    background none
    box-shadow none
    border none
    border-radius initial

  .article-header
  .article-entry
  .article-footer
    margin-left 0
    margin-right 0
    padding-left 0
    padding-right 0

  .article-header
    margin-bottom 20px

  .last-updated
    @extend $block
    float right
    margin 1em
    padding 1.6em
    text-align center

    p
      margin-bottom 0

    .update-time
      margin 0
      padding 0

.changes-list-wrapper
  margin-left -(changes-list-margin)
  margin-right -(changes-list-margin)

.changes-list
  @extend $block
  column(columns / 2)
  padding 0
  margin 0 changes-list-margin 20px changes-list-margin

  @media mq-mobile
    column(columns)
    margin-bottom 20px
  @media mq-tablet
    column(columns)
    margin-bottom 20px

  .changes-list-inner
    margin 15px

  .meta-wrapper
    margin-bottom 20px

  .name
    float left
    margin 10px 0 0 0
    font-size 18px
    line-height 18px

  .spell-level
    float right
    margin 10px 0 0 0
    color #999
    font-size 14px
    line-height 18px

  .requirements
    margin -14px 0 0 0
    color #999
    font-size 14px
    line-height 16px

  .changes
    margin-bottom .5em
    font-weight bold

  .changes-ul
    margin-top .5em

.changes-list-filter
  width 85%
  max-width 250px

  &:focus
    border 1px solid #000

.changes-list-filter-input
  border: 1px solid transparent
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  background #fff
  padding 5px 15px
  border-radius 15px
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

  &:focus
    border 1px solid color-default

p.sort-text
  margin-bottom .5em

.sort-by-button-group
  button
    @extend $block
    padding .5em 1em
    margin-right .75em
    cursor pointer
    color color-default
    font-size 75%

    &:focus
      border 1px solid color-grey
      outline none
    &.is-checked
      border 1px solid color-default

    .icon-ascending
    .icon-descending
      display none

    &.ascending
      .icon-ascending
        display inline-block
    &.descending
      .icon-descending
        display inline-block

    p
      margin 0
      padding 0
