title: Player vs Player
slug: player-vs-player
---

p.
  Player versus player combat is allowed provided the rules are followed. There is zero tolerance for breaking the rules and consequences will be given. Report all PvP violations to a DM immediately.

ul
  li
    #[b 8 Level Zone:] Players are not to engage players 8 levels higher or lower than their own. PvP actions included in this are pickpocketing, taunting, debuffing allies and buffing enemies#[sup.footnote-ref: a(href='#fn1')#fn1ref [1]]
  li
    #[b Losers:] After a valid kill, the looser receives a "loser flag" and is prevented from further PvP for 15 minutes. During this time, they are not allowed to perform any PvP actions#[sup.footnote-ref: a(href='#fn2')#fn2ref [2]]
  li
    #[b Killers:] Killing a player will cause you to receive a "killer token", and you will be designated as a killer. If you are marked as a killer, you are fair game for anyone on the server (unless you are "Out of PvP"). Killers must still follow the 8 Level Zone rule, though they themselves are fair game to anyone of any level. Killers my defend themselves if attacked
  li.
    You may not "quick log"#[sup.footnote-ref: a(href='#fn3')#fn3ref [3]] or spam kill


hr.footnotes-sep
section.footnotes
  ol.footnotes-list
    li#fn1.footnote-item
      p Exceptions
        ul
          li Player marked as a killer
          li Assaulting or defending clan halls and moats
          li Clan members training in their hall #[a(href='#fn1ref').footnote-backref ↩]
    li#fn2.footnote-item
      p.
        PvP (hostile acts) is defined as pick pocketing, attacking, debuff/buffing other players or henchman or attacking/defending clan areas. If you are slain inside a clan area, you are to leave the area until the battle has finished #[a(href='#fn2ref').footnote-backref ↩]
    li#fn3.footnote-item
      p.
        Quicklogging is logging off of as one character and back on as another. There is a minimum period of 15 minutes game time before you may log back in as another character #[a(href='#fn3ref').footnote-backref ↩]
hr.footnotes-sep


h3 Violations

ul
  li
    #[b First Violation:] A simple warning is given. The players name, avatar and IP are noted
  li
    #[b Second Violation:] The player is reminded of the rules and the avatar in violation is dropped 10 levels
  li
    #[b Third Violation:] The players account is suspended from the game for a period of 2 weeks
  li
    #[b Forth Violation:] The players IP is banned from the server and their avatar database purged

h3 Additional clarifications

p Spam killing counts as a PvP violation. It is defined as killing or otherwise reducing a player to -10 or lower hit points in annoyingly excess or, so much so to the point of stupidity.

p What if you don't engage in any hostile acts whatsoever but someone else engages you? This force-engaging PvP (a form of griefing) is also not allowed and should be reported immediately. #[b DO NOT ENGAGE] them. Take Screenshots!


h3 Clan PVP Wars

p Clans engage in clan PvP wars as a matter of game play. These clan wars may last days or weeks. In these instances, PvP is heightened as one clan attacks another at will. In all cases however, PvP rules still apply. The only exception to this is when any clan member; or entire clan, attacks another clan’s area. In defense of their hall/moat, the clans still must observe the PvP rules but with these exceptions:

ul
  li 8 Level Zone rules DO NOT apply
  li If killed that player is considered out of PVP for the rest of the battle and must leave the area as soon as feasibly possible
