footer#footer
  if theme.sidebar === 'bottom'
    != partial('_partial/sidebar')
  div.outer
    div#footer-info.inner
      | &copy; #{date(new Date(), 'YYYY')} Natan Žabkar (#[a(href='https://github.com/nightmarebadger' target='_blank') @nightmarebadger]), Redemption DM Team #[br]
      | Powered by #[a(href='http://hexo.io/' target='_blank') Hexo]
