title: Game characteristics
slug: game-characteristics
---

:marked
  Redemption has various amazing characteristics. Read more about them on this site.

  {% blockquote A player, NWN - Redemption %}
    Redemption is the most amazing thing that has ever happened to me.
  {% endblockquote %}


  link: {% post_link spell-changes %}
