@import '_custom/header'
@import '_custom/nav'
@import '_custom/footnotes'
@import '_custom/spells'

img
  max-width 100%

.clearfix
  clearfix()

hr.full
  border-style solid
  margin 30px 0

.purple
  border 1px solid purple

.red
  border 1px solid red

.orange
  border 1px solid orange

.yellow
  border 1px solid yellow

.blue
  border 1px solid blue

.green
  border 1px solid green

.white
  border 1px solid white
