mixin connection_information()
  div.connection-information
    | Game Type: PW Action #[br]
    | Server Name: Redemption Mod #[br]
    | Module Name: Redemption #[br]
    | Server IP: (coming soon) #[br]
    | #[br]
    | Levels: 1-40 #[br]
    | PvP: Full #[br]
    | Version: 1.69 + All Expansions + CEP 2.2

